body{
	margin: 0;
	padding: 0px 150px 100px 150px;
	font-family: "Lato";
	background-color: whitesmoke;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.leader{
	display: inline-block;
	background-color: lightseagreen;
	color: white;
	padding: 5px 10px;
}

.title{
	display: inline-block;
	margin-left: 10px;
}

.description{
	width: 100%;
	padding-top: 20px;
	margin: 0px 0px 10px 0px;
}

#overview{
	width: 100%;
	padding: 10px;
}

#playerView{
	/*display: none;*/
}

.userCircle{
	overflow: visible;
	padding: 15px;
	width: 1px;
	flex-grow: 1;
}

#plot{
    border: 1px solid gray;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.bar{
	background-color: brown;
	margin: 5px;
	color: white;
	padding: 3px 8px;
}

.teamLabel{
	color: rgb(30,30,30);
	border-top: 1px solid gray;
	display: inline-block;
	padding: 3px 10px;
	margin-bottom: 10px;
}

.teamContainer{
	display: flex;
}

.clickable{
	cursor: pointer;
}


@media all and (max-width: 550px){
	body{
		padding: 0px 0px 50px 0px;
	}

	.leader{
		margin-left: 18px;
	}

	#content{
		height: 550px;
	}
}